if SHIELD_HSKBDBT_LEFT

config ZMK_KEYBOARD_NAME
    default "HSKBDBT"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_HSKBDBT_LEFT

if SHIELD_HSKBDBT_LEFT || SHIELD_HSKBDBT_RIGHT

config ZMK_SPLIT
    default y

config NFCT_PINS_AS_GPIOS
    default y

endif # SHIELD_HSKBDBT_LEFT || SHIELD_HSKBDBT_RIGHT
